@import '../../styles/variables';

.root {
  grid-area: sidebar;
  position: fixed;

  .sidebar {
    display: flex;
    flex-direction: column;
    min-width: 320px;


    ///welcome
    .welcomeBlock {
      display: flex;
      justify-content: left;
      align-items: center;
      margin: 10px 20px;


      & img {
        width: 70px;
        border-radius: 100%;
        margin-right: 10px;
      }

      .textBlock {
        & div {
          color: $textDescriptionColor;
        }
      }
    }

    ///welcome


    .NavBlock {
      display: flex;
      flex-direction: column;
      padding: 15px 0;
      list-style: none;
      text-decoration: none;
      width: 100%;

      .navLinkStyleItem, {
        width: 100%;
        margin-top: 10px;
        padding: 20px;
        text-decoration: none;
        color: #6C757D;
        display: flex;
        align-items: center;


        & svg {
          margin-right: 20px;
        }
      }

      .navLinkStyleItem:hover {
        background-color: white;
        border-radius: 20px;
        color: black;
      }

      .active {
        background-color: white;
        border-radius: 20px;
        color: black;
        font-weight: 600;
      }


    }


  }


}



