@import "../../styles/variables";

.container {
  max-width: 1320px;
  margin: 10% auto;
  padding: 0 10%;

  .login {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 100px;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);


    .loginForm {
      display: flex;
      flex-direction: column;
      width: 50%;

      & h2 {
        margin-bottom: 20px;
        text-align: center;
      }


      .inputBox {
        display: flex;
        flex-direction: column;
        height: 100px;

        & input, .active {
          padding: 30px;
          border-radius: 10px;
          border: none;
          height: 50px;
          background-color: $backgroundInput;
          outline: none;

        }

        .active {
          background-color: rgba(255, 99, 71, 0.2);
        }

        & span {
          padding: 5px 0;
          color: red;
          text-align: center;

        }

      }


      .submitButton {
        margin-top: 30px;
        border: none;
        background-color: $blueButtonColor;
        color: white;
        padding: 10px;
        border-radius: 10px;
        font-size: 20px;
        cursor: pointer;

      }

    }
  }

}


