@import 'src/styles/variables';

.contactButton {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  background-color: $profileContactBackgroundButton;
  align-items: center;
  padding: 10px 10px;
  border-radius: 10px;
  margin: 15px 0;

  //socialIcon
  & svg {
    margin-right: 12px;

  }

  //labelAndLink
  .contactButtonText {
    display: flex;
    flex-direction: column;


    //label
    & h3 {
      margin: 0;
      display: inline;
      text-align: left;

    }

    //link
    & span {
      color: $greyButtonBackground;

    }
  }


  //arrowRight
  & svg {
    margin-left: 15px;
    color: $greyButtonBackground;

  }


}