header {
 grid-area: nav;
    background-color: red;
    z-index: 99;
    width: 100%;



}


    .logoHeaderStyle {
        display: flex;
        align-items: center;
        margin: 10px 0 0 20px;
        width: 100px;
    }

    .logoHeaderStyle img {
        width: 40px;
        height: 40px;

    }
QQQQ
    .LoginStyle {
        align-items: center;
        display: flex;
        width: 100px;
        height: 40px;

    }


