@import "../../styles/variables";


main {
  grid-area: main;

  .PostList {
  }


}


/// loadMore BUTTON
.buttonLoadPostsBlock {
  width: 100%;
  text-align: center;

  & .defaultButtonLoadPosts, .disabledButtonLoadPosts {
    border: 1px solid $backgroundInput;
    background-color: white;
    padding: 10px 40px;
    color: black;
    font-weight: 600;
    border-radius: 10px;
    margin-bottom: 50px;

  }

  & .disabledButtonLoadPosts {
    background-color: $backgroundDisabledButton;
    padding: 10px 40px;
    color: $colorDisabledButton;
    font-weight: 600;
    border-radius: 10px;
    margin-bottom: 50px;

  }
}

/// loadMore BUTTON
