.newsBlockBorderLine {
  width: 100%;
  height: 2px;
  background-color: black;
  opacity: 0.1;
  margin: 20px 0;
}

.newsBlockCategory {

}


.newsBlockMainContent {
  display: flex;
  margin-top: 10px;
  align-items: center;

  & p {
    font-size: 13px;
    margin-right: 20px;
  }



  & img {
    width: 100px;
    height: 100px;
  }

}