@import "src/styles/variables";

.editSocialLinks{
  margin-top: 20px;
  background-color: white;
  padding: 20px 30px;
  border-radius: 20px;


  .editSocialLinksTitle {
    margin-bottom: 20px;
  }

  .editSocialLinksFB{
    border: none;
    background-color: $backgroundInput;
    width: 100%;
    padding: 15px 20px;
    border-radius: 15px;
    margin: 10px 0;
  }


}