
.item {
    padding: 15px;
}

a {
    text-decoration: none;
    color: black;
    width: 150px;
}

.activeLink {
    color: #0395d7;
    font-weight: bold;
    width: 150px;
}

a:hover{
    color: #0395d7;
}





