@import "src/styles/variables";


.root {
  background-color: white;
  padding: 20px 30px;
  border-radius: 20px;

  .editProfileTittle {
    margin-bottom: 20px;
  }

  .editProfileInputName,
  .editProfileInputAboutMe,
  .editProfileInputJobDescription {
    border: none;
    background-color: $backgroundInput;
    width: 100%;
    font-size: 18px;
    padding: 15px 20px;
    border-radius: 15px;
    margin: 10px 0;
  }

  .editProfileInputAboutMe, .editProfileInputJobDescription {
    height: 100px;
    outline: none;
    resize: vertical;
  }


  .editProfileCheckBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 20px;


    .editProfileCheckBoxTitle {
      font-size: 18px;
      font-weight: 600;
      color: $textDescriptionColor;
      margin-bottom: 20px;

    }


    .editProfileCheckboxItems {
      font-size: 16px;
      display: flex;
      padding: 20px 0;
      gap: 20px;

      & label {
        cursor: pointer;
        padding: 12px;
        border-radius: 10px;
        background-color: $backgroundInput;
      }
    }

  }


}
