@import '../../styles/variables';


.root {
  grid-area: sidebar;
  position: fixed;
  z-index: 5;

  .Navigation {

  }

  .MobileNavigation {
    display: none;
  }


  .sidebar {
    display: flex;
    flex-direction: column;


    ///welcome
    .welcomeBlock {
      display: flex;
      justify-content: left;
      align-items: center;
      margin: 10px 20px;


      & img {
        width: 70px;
        border-radius: 100%;
        margin-right: 10px;
      }

      .textBlock {
        & div {
          color: $textDescriptionColor;
        }
      }
    }

    ///welcome


  }


}

@media (max-width: 1200px) {
  .root {

    .sidebar {

      .welcomeBlock {
        display: none;
      }

    }

    .Navigation {
      display: none;
    }

    .MobileNavigation {
      display: block;
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;

      .sidebar {
        display: flex;
        flex-direction: row;
        height: 100vh;

        .sideBarMobileNavItems {
          width: 300px;
          background-color: $backgroundColor;
          animation: slide 0.7s forwards;
        }


        @keyframes slide {
          0% { width: 0px }
          100% { width: 300px }
        }

        .sidebarBackground {
          background-color: black;
          width: 100vw;
          opacity: 0.5;
          transition: opacity 3s ;
          animation: ease 1s slow-show-bg;

        }

        @keyframes slow-show-bg {
          0% {opacity: 0;}
          100% {opacity: 0.5;}
        }



      }




      .MobileHeader {
        z-index: -1;
        position: absolute;
        top: 0;
        height: 80px;
        width: 100%;
        padding: 0 50px;
        background-color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        & svg {
          margin-top: 10px ;
          float: right;
          border-radius: 10px;
          padding: 10px;
          color: white;
          background-color: #0E6DFD;
        }

      }


    }
  }

}





