.mainBlock {

    grid-area: n;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 10%;

}

.navBlock {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.friendsBlock{
    background-color: #fff;
    margin-top: 20px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}