@import "styles/variables";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Poppins', sans-serif;

}

body {
  background-color: $backgroundColor;
}

.appWrapper {
  display: grid;
  max-width: 1320px;
  margin: 100px auto;
  grid-gap: 20px;
  grid-template-columns: 1fr 2fr 1fr;

  grid-template-areas:
    "sidebar main aside"
}

@media screen and (max-width: 1200px) {
  .appWrapper {
    margin: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr ;
    grid-template-areas:
"nav"
    "sidebar"
    "main"


  }

}