@import "src/styles/variables";

.settings {


  .settingsButtonBlock {
    justify-content: center;
    display: flex;

    .settingsSubmit {
      border: none;
      margin: 20px auto;
      border-radius: 20px;
      background-color: $blueButtonColor;
      padding: 20px 150px;
      color: white;
    }
  }


}